 *{
    margin: 0px;
    padding: 0px;
 }
 body{
    height: 100% ;
        background:linear-gradient(#1f4c57,#677E8A);
 }
nav{
    height: 5%;
    background-color: #122e34;
    padding-top: 2.5%;
    padding-bottom: 3%;
    display: flex;
    align-items:center;
    justify-content: center;
}
   nav a {
    display: inline;
    color: #ABAFB5;
    text-decoration-line: none;
    padding: 0.5% 8%;  
    font-size: 120%; 
    font-weight: 600; 
}
main{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main form {
    width: 20%;
    background-color: #122E34;
    padding: 5%;
    border-radius:100px;
    color: azure;
    font-size: 20px;
    font-weight: 600;
    box-shadow:15px 15px 35px #3d3d3de8;
}
main form input,main form textarea{
    background-color: rgb(202, 214, 212);
    border-radius: 10px;
    box-shadow: 5px 5px 30px #6b6a6ae8 ;
    border: none;
    outline: none;
    margin-top: 2.5%;
    width: 90%;
}
main h2{
    color:azure;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
main form input[type="submit"]{
    background-color: #20393f;
    font-weight: 600;
    border-radius: 10px;
    color: azure;
    box-shadow: 5px 5px 30px #888585e8 ;
    width: 30%;
    height: 10%;
    justify-content: space-around;
}
main form input[type="submit"]:hover{
    transform: scale(1.05);
    
    cursor: pointer;
}
footer{
    background-color: #122E34;
    color:#ABAFB5;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
} 
footer a{
    color: #ABAFB5;
    text-decoration-line: none;
    font-size: small;
}
@media (max-width: 600px){
    nav{ 
        width: 100vw;
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 3%;
}
nav a {
    padding: 2%;  
}
main form{
padding: 2.5%;
width: 80vw;
height: 70vh;
}
main form label h2{
    font-size: 100%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0%;
}
main form input,main form textarea{
    padding: 1.5%;
    margin: 3% 5% 1% 25%;
    height:auto;
    width: 50%;
}
main form input[type="submit"]{
    width: 100px;
    margin: 0% 0% 0.5% 30%;
}
footer{
    padding: 2% 5%;
    text-align: center;
    width: 100vw;}
}
footer a{
    margin: 2.25%;
}