*{
    margin: 0px;
    padding: 0px;
 }
 body{
        height: 100vh;
        background:linear-gradient(#1f4c57,#677E8A);
 }
  nav{
    height: 5%;
    background-color: #122e34;
    padding-top: 2.5%;
    padding-bottom: 3%;
    display: flex;
    align-items:center;
    justify-content: center;
}
   nav a {
    display: inline;
    color: #ABAFB5;
    text-decoration-line: none;
    padding: 8%;  
    font-size: 120%; 
    font-weight: 600; 
}
main{height: 80%;}
main div{
    width:100%;
    height: 70vh;
    display: flex;
     justify-content: space-around;
    align-items: center;
}
main div section{
    border-radius: 400px;
    background-color: #0d202b;
    height:250px;
    width: 40%; 
    box-shadow: 10px 10px 20px #323333 ;
    justify-content: center;
    align-items: center;
}
main div section h2{
    font-weight: 900;
    font-style: italic;
    color: #ABAFB5;
    text-align: center;
    padding-top: 110px;
}
main div section:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
main div section h2 a{
    font-weight: 900;
    font-style: italic;
    color: #e6ecf1;
    text-decoration: none;
}

@media (max-width: 600px){
    nav{ 
        width: 100%;
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: auto;
}
nav a {
    padding: 2%;  
}
main{height: 80vh;
width: 100vw;}
main div{
    width:96%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}
main div section:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease;
}
main div section h2{
    font-weight: 500;
    font-size: 120%;
    font-style: italic;
    color: #ABAFB5;
    padding-top: 8%;

}
main div section{
    border-radius: 400px;
    width: 80%;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
}
}