*{
    margin: 0px;
    padding: 0px;
 }
 body{
        height: 100vh;
 }
 nav{
    height: 5%;
    background-color: #122e34;
    padding-top: 2.5%;
    padding-bottom: 3%;
    display: flex;
    align-items:center;
    justify-content: center;
}
   nav a {
    display: inline;
    color: #ABAFB5;
    text-decoration-line: none;
    padding: 8%;  
    font-size: 120%; 
    font-weight: 600; 
}
header{
    height: 80%;
    width: 100%;
    display: flex;
    background:linear-gradient(#1f4c57,#677E8A); 
}
header div{
    width: 50%;
    display: flex;
}
header div h1{

    padding: 17%; 
    height: 50%;
    font:400% sans-serif;
    width:50%;
    display: flex;
    margin: auto;
    justify-content: center;
}
header div img{
    
    width: 35%;
    border-radius: 100%;
    margin: 20%;
}
footer{
    margin: auto;
    padding-left: 30%;
    background:linear-gradient(#1f4c57,#677E8A);
}
footer a{
    color: black;
    text-decoration-line: none;
} 
 @media (max-width: 600px){
    nav{ 
        width: 100%;
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: auto;
}
nav a {
    padding: 2%;  
}
header{
flex-direction: column;
}    
header div{
    flex-direction: column;
    height: 80%;
}
header div h1{
    font-size: xx-large;
    width: 100%;
    height: 15vh;
}
header div img{
    height: 30vh;
    width: 100%;
    margin-bottom:30% ;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
footer{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
}